body{
	font-family: 'Montserrat';
	text-align: center;

	background-image: url("../images/background.jpg");
	background-size: 100% 744px;
}

.title-box{
	font-size: 30px;
}
.container{
	margin: 10% 15% 10% 15%;
}

.background {
	margin: 10% 15% 10% 15%;
}

/*button style*/
#start{
	position: relative;
	top: 500px;
	width: 60px;
    height: 30px;
	z-index: 1;
	font-style: bold;
}

.box{
		font-size: 20px

}

.choice-box:hover{
	color: cornflowerblue;
}

.end-box{
	font-size: 30px
}
